In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\rakes\Desktop\Thapar_assignments\SEM_5\ML\Lab\dataset\AWCustomers.csv')
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [3]:
newdf=df.iloc[:,[0,2,11,13,14,15,16,17,18,19,20,21,22]]
print(newdf)

       CustomerID FirstName PostalCode   BirthDate        Education  \
0           21173      Chad       2500  1987-11-13        Bachelors
1           13249      Ryan    V9B 2C3  1972-07-21  Partial College
2           29350     Julia      91791  1985-11-09        Bachelors
3           13503  Theodore     L4 4HB  1977-10-18  Partial College
4           22803  Marshall      59368  1975-02-05  Partial College
...           ...       ...        ...         ...              ...
18356       25414     Grace      92118  1990-11-11  Graduate Degree
18357       11459     Tasha       2444  1992-10-13        Bachelors
18358       12160    Jaclyn      97005  1983-11-24  Partial College
18359       14353      Erin    V7L 4J4  1995-06-15      High School
18360       16676    Amanda      91941  1986-03-26  Graduate Degree

           Occupation Gender MaritalStatus  HomeOwnerFlag  NumberCarsOwned  \
0            Clerical      M             M              1                3
1            Clerical      M             M              1                2
2            Clerical      F             S              0                3
3      Skilled Manual      M             M              1                2
4      Skilled Manual      M             S              1                1
...               ...    ...           ...            ...              ...
18356  Skilled Manual      F             M              0                1
18357  Skilled Manual      F             S              0                2
18358  Skilled Manual      F             S              0                2
18359        Clerical      F             S              0                0
18360    Professional      F             M              1                2

       NumberChildrenAtHome  TotalChildren  YearlyIncome
0                         0              1         81916
1                         1              2         81076
2                         0              0         86387
3                         1              2         61481
4                         0              0         51804
...                     ...            ...           ...
18356                     0              2         52953
18357                     0              0         60992
18358                     0              0         51859
18359                     0              0         87177
18360                     0              0        136856

[18361 rows x 13 columns]

In [4]:
types = {
    "CustomerID": "Discrete and Nominal",
    "FirstName": "Discrete and Nominal",
    "PostalCode": "Discrete and Nominal",
    "BirthDate": "Continuous and Interval",
    "Education": "Discrete and Ordinal",
    "Occupation": "Discrete and Nominal",
    "Gender": "Discrete and Nominal",
    "MaritalStatus": "Discrete and Nominal",
    "HomeOwnerFlag": "Discrete and Nominal",
    "NumberCarsOwned": "Discrete and Ratio",
    "NumberChildrenAtHome": "Discrete and Ratio",
    "TotalChildren": "Discrete and Ratio",
    "YearlyIncome": "Continuous and Ratio"
}

In [5]:
print(newdf.isnull())

       CustomerID  FirstName  PostalCode  BirthDate  Education  Occupation  \
0           False      False       False      False      False       False
1           False      False       False      False      False       False
2           False      False       False      False      False       False
3           False      False       False      False      False       False
4           False      False       False      False      False       False
...           ...        ...         ...        ...        ...         ...
18356       False      False       False      False      False       False
18357       False      False       False      False      False       False
18358       False      False       False      False      False       False
18359       False      False       False      False      False       False
18360       False      False       False      False      False       False

       Gender  MaritalStatus  HomeOwnerFlag  NumberCarsOwned  \
0       False          False          False            False
1       False          False          False            False
2       False          False          False            False
3       False          False          False            False
4       False          False          False            False
...       ...            ...            ...              ...
18356   False          False          False            False
18357   False          False          False            False
18358   False          False          False            False
18359   False          False          False            False
18360   False          False          False            False

       NumberChildrenAtHome  TotalChildren  YearlyIncome
0                     False          False         False
1                     False          False         False
2                     False          False         False
3                     False          False         False
4                     False          False         False
...                     ...            ...           ...
18356                 False          False         False
18357                 False          False         False
18358                 False          False         False
18359                 False          False         False
18360                 False          False         False

[18361 rows x 13 columns]

In [ ]:
Discrete = ['CustomerID','City','StateProvinceName','CountryRegionName','BirthDate','Education','Occupation','Gender','MaritalStatus','HomeOwnerFlag','	NumberCarsOwned',	'NumberChildrenAtHome',	'TotalChildren','LastUpdated']
Continuous = ['YearlyIncome']
Nominal = ['City','StateProvinceName','CustomerID','CountryRegionName','PostalCode']
Ordinal = ['Education','Occupation','MaritalStatus']
Interval = ['BirthDate',]
Ratio = ['HomeOwnerFlag','NumberCarsOwned',]

In [6]:
# Handling Nulls
newdf = newdf.copy()

for col in newdf.columns:
    if newdf[col].dtype in ['float64', 'int64']:
        newdf[col] = newdf[col].fillna(newdf[col].median())
    else:
        newdf[col] = newdf[col].fillna(newdf[col].mode()[0])

#Normalization

from sklearn.preprocessing import MinMaxScaler
import numpy as np

scaler = MinMaxScaler()
numeric_cols = newdf.select_dtypes(include=[np.number]).columns

newdf[numeric_cols] = scaler.fit_transform(newdf[numeric_cols])


#Discretization(Binning)
newdf['Income_bin'] = pd.cut(newdf['YearlyIncome'], bins=3, labels=['Low','Medium','High'])



#Standardization
from sklearn.preprocessing import StandardScaler

scaler_std = StandardScaler()
newdf[numeric_cols] = scaler_std.fit_transform(newdf[numeric_cols])

#Binarization
newdf = pd.get_dummies(newdf, drop_first=True)
print(newdf)

       CustomerID  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  \
0        0.174472       0.798603         1.892524             -0.594371
1       -1.310484       0.798603         0.798389              1.163279
2        1.706839      -1.252187         1.892524             -0.594371
3       -1.262884       0.798603         0.798389              1.163279
4        0.479933       0.798603        -0.295746             -0.594371
...           ...            ...              ...                   ...
18356    0.969234      -1.252187        -0.295746             -0.594371
18357   -1.645929      -1.252187         0.798389             -0.594371
18358   -1.514562      -1.252187         0.798389             -0.594371
18359   -1.103595      -1.252187        -1.389881             -0.594371
18360   -0.668265       0.798603         0.798389             -0.594371

       TotalChildren  YearlyIncome  FirstName_Abby  FirstName_Abhijit  \
0           0.161342      0.298555           False              False
1           1.239753      0.271180           False              False
2          -0.917069      0.444261           False              False
3           1.239753     -0.367401           False              False
4          -0.917069     -0.682765           False              False
...              ...           ...             ...                ...
18356       1.239753     -0.645321           False              False
18357      -0.917069     -0.383337           False              False
18358      -0.917069     -0.680973           False              False
18359      -0.917069      0.470006           False              False
18360      -0.917069      2.088996           False              False

       FirstName_Abigail  FirstName_Adam  ...  Education_Partial College  \
0                  False           False  ...                      False
1                  False           False  ...                       True
2                  False           False  ...                      False
3                  False           False  ...                       True
4                  False           False  ...                       True
...                  ...             ...  ...                        ...
18356              False           False  ...                      False
18357              False           False  ...                      False
18358              False           False  ...                       True
18359              False           False  ...                      False
18360              False           False  ...                      False

       Education_Partial High School  Occupation_Management  \
0                              False                  False
1                              False                  False
2                              False                  False
3                              False                  False
4                              False                  False
...                              ...                    ...
18356                          False                  False
18357                          False                  False
18358                          False                  False
18359                          False                  False
18360                          False                  False

       Occupation_Manual  Occupation_Professional  Occupation_Skilled Manual  \
0                  False                    False                      False
1                  False                    False                      False
2                  False                    False                      False
3                  False                    False                       True
4                  False                    False                       True
...                  ...                      ...                        ...
18356              False                    False                       True
18357              False                    False                       True
18358              False                    False                       True
18359              False                    False                      False
18360              False                     True                      False

       Gender_M  MaritalStatus_S  Income_bin_Medium  Income_bin_High
0          True            False               True            False
1          True            False               True            False
2         False             True               True            False
3          True            False              False            False
4          True             True              False            False
...         ...              ...                ...              ...
18356     False            False              False            False
18357     False             True              False            False
18358     False             True              False            False
18359     False             True               True            False
18360     False            False              False             True

[18361 rows x 9238 columns]

In [7]:
#Calculation proximity
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import jaccard

obj1 = newdf.iloc[0].values.reshape(1,-1)
obj2 = newdf.iloc[1].values.reshape(1,-1)

# Cosine Similarity
cos_sim = cosine_similarity(obj1, obj2)[0][0]

# Jaccard Similarity (binary columns only)
jac_sim = 1 - jaccard(newdf.iloc[0].values, newdf.iloc[1].values)

# Simple Matching Coefficient (SMC)
smc = (newdf.iloc[0] == newdf.iloc[1]).sum() / len(newdf.columns)

print("Cosine:", cos_sim)
print("Jaccard:", jac_sim)
print("SMC:", smc)


#Correlation analysis - numeric
corr = newdf['TotalChildren'].corr(newdf['YearlyIncome'])
print("Correlation:", corr)

Cosine: 0.32559043220453193
Jaccard: 0.19999999999999996
SMC: 0.9987010175362633
Correlation: 0.022013822892024207